.charts{
    background-color: rgb(241, 244, 247);
    padding: 6px 13px;
    border-radius: 5px;
    margin: 30px 0;
    box-shadow: 5px 5px 5px rgba(223, 225, 226, 0.692);
    h4{
        color: #4f5050;
    }
}