.users{
    padding: 6px 13px;
    margin: 30px 0;
    display: flex;
    flex: 7;
    flex-direction: column;
}
.userlist{
    display: flex;
    align-items: center;
    img{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
}
.edit-btn{
  background-color: rgba(68, 68, 245, 0.856);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 12px;
  margin-right: 10px;
}
.delete-btn{
    color: #9b111e;
    cursor: pointer;
}